.wrap-all {
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    border: 1px solid black;
    text-align: center;
}

.booking-info-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 200px;
    width: 500px;
    height: 600px;
    
    img {
        width: 200px;
    }
}

.booking-info-book-show {
    padding:10px;
}

.listing-info-book-show {
    padding:20px;

}