.wrap-all {
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    /* border: 1px solid black; */
    /* text-align: center; */
    margin-top: 50px;
}

.booking-info-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 200px;
    width: 500px;
    height: 600px;
    
    img {
            width: 600px;
    border-radius: 14px;
    }
}

.booking-info-book-show {
    padding:10px;
}

.listing-info-book-show {
    padding:20px;
    text-align: left;

    h4 {
        padding: 4px;
    }
}

.booking-heading {


    text-align: left;
}