.listing-photos img{
    width: 200px;
    margin: 6px;
}

#main-photo {
    width: 600px;
    height: 600px;
}

.listing-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: flex-start;
    // border: 1px solid black;
    width: fit-content;
    margin: 20px 40px;
}

.listing-item-show {
    display: flex;
    flex-wrap: wrap;
    // border: 1px solid black;
    align-items: center;
    justify-content: center;
} 

.listing-item-booking {
    display: flex;
    flex-wrap: wrap;
    // grid-template-rows: minmax(1, r);
    border: 1px solid black;
    align-items: center;
    // width: 200px;
        h3 {
        font-size: 2rem;
        padding: 8px 2px;
    }
} 


.listing-info-show {
    border-bottom: 1px solid black;
    width: 50%;
    margin: 50px;
    margin-bottom:2px;
    h3 {
        font-size: 1.5rem;
        padding: 8px 2px;
    }
}

    .listing-form-box, .login-form-box {
    width: 400px;
    height: fit-content;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 12px 12px 8px rgba(0,0,0,.09);
    padding-left: 20px;

}

.listing-form-box h2, .login-form-box h2{
  font-size: 1.125rem;
  text-align: center;
}

.listing-form-box p, .login-form-box p{
  font-size: .75rem;
  text-align: center;
}


 .login-form div{
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 90%
}


.classy-btn {
  color: black;
  height: 43px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  border: none;
  text-decoration: underline;
}


.listing-form-box {
   padding-top: 20px;
    margin-top: 50px;
    width: 28rem;
    // height: 38rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    // box-shadow: 12px 12px 8px rgb(0 0 0 / 9%);
    box-sizing: border-box;
    min-height: fit-content;
}

// .signup-form-box {
//     width: 28rem;
//     height: 37rem;
// }

.listing-form-container {
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background-color: lightcoral;
    padding: 20px 0;
    height: 700px;
}


p {
    padding-bottom: 4px
}

button.session-submit.sml-btn {
    width: 50%;
}

.listing-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    align-items: stretch;
    width: fit-content;
    margin: 20px 40px;
    justify-content: space-evenly;
    border-radius: 14px;
    margin: 0 auto;
}

#main-photo {
    width: 600px;
    height: auto; 
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    margin-right: 3px;
    max-height: 591px;
}

.adtl-photos-col-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

// .adtl-photo-col-2 {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     flex-direction: column;
//     flex-wrap: wrap;
// }

.adtl-photo-col-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

// .adtl-photo-col-2 img, .adtl-photos-col-1 img {
//     height: 250px;
//     width: 250px;
//     object-fit: cover;
// }

.adtl-photo-col-2 img, .adtl-photos-col-1 img {
    height: 18rem;
    width: 18rem;
    object-fit: cover;
}

.adtl-photo-col-2:nth-child(1){
    border-radius: 0 15px 0 0;
}

#top-right-photo img {
    border-radius: 0 15px 0 0;
}

div#bottom-right-photo img {
    border-radius: 0 0 15px 0;
}

.listing-heading {
    margin-left: 26px;
}

.room-details {
    display: flex;
    width: 120px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 4px;
}

.listing-info-show h3 {
    font-size: 1.5rem;
    padding: 8px 2px;
}


.review-header {
    width: 290px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 1rem;
}

.review-star {
    color: #ff392a;
}

.bk-rate-review span {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.bk-rate-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    padding: 0 21px;
    align-items: baseline;
}

.bk-rate-review span p {
    display: flex;
    align-items: baseline;
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
}

.guest-ctrls input[type="number"] {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.listing-body {
    width: 50%;
    margin-left: 48px;
    margin-top: 30px;
    line-height: 20px;
    font-weight: 300;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.body-booking {
    display: flex;
    justify-content: space-around;
}

.head-form-cont textarea {
    border: none;
    font-family: 'Montserrat';
    width: 98%;
    color: black;
    padding-right: -7px;
    height: 100px !important;
    font-size: 14px;
}

.head-form-cont input {
    border: none;
    color: black;
    width: 100%;
    font-size: 14px;
}

.head-form-cont div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    padding: 8px 9px;
    font-size: 12px;
    color: #818181;
}

.head-form-cont {
    display: flex;
    flex-direction: column;
  
}


.prices input {
    border: none;
}

.rooms div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
}

.prices div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    align-items: stretch;
    /* border: 1px solid lightgray; */
    padding-right: 21px;
    height: 100%;
}

.prices {
    border: 2px solid lightgray;

    display: flex;
    /* height: 4rem; */
    justify-content: space-around;
    align-items: flex-start;
    color: #818181;
    border-radius: 0 0 10px 10px;
    padding: 5px 0;
}

.numbers-form {
    display: flex;
    flex-direction: column;
    height: 6rem    ;
}

.bdrms {
    display: flex;
    font-size: 12px;
    justify-content: space-evenly;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-top: 2px solid lightgray;
    padding: 5px 0;
    color: #818181;
}

.bdrms div {
    display: flex;
    flex-direction: column;
}

.bdrms div {
    display: flex;
    flex-direction: column;
}

.bdrms input {
    border: none;
}



.listing-title {
    border-radius: 10px 10px 0 0;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;

}

.listing-form-title input {
    font-size: 14px;
}

.listing-form-theme input {
    font-size: 14px;
}

.listing-form-addrs input {
    font-size: 14px;
}


.prices input {
    font-size: 14px;
}

.listing-form-photo {
    display: flex;
    flex-direction: column;
}

.bdrms div input {
    font-size: 14px;
}


.listing-form-theme{
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.listing-form-theme select {
    height: 1rem;
    border-radius: 5px;
    background: #f5366b;
    color: white;
    border: none;
    text-align: center;
    font-size: 12px;
}

.listing-title {
      border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;

}

.listing-form-descrp {
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;  
    border-bottom: 2px solid lightgray; 
}

.listing-form-addrs {
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray; 
}

.form-photo-preview {
    width: 100px;
}

.listing-form-box .listing-form .error-container #create-form-errors {
    display: flex;
    display: row !important;
    font-size: 12px; 
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 4px;
}

.icons-blurbs div {
    display: flex;
    margin-bottom: 1rem;
}

.icons-blurbs div div {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.icons-blurbs div svg {
    font-size: 2rem;
}

.icons-blurbs p {
    font-size: 14px;
    font-weight: 100;
    color: gray;
}

.icons-blurbs h3 {
    font-size: 1rem;
    font-weight: 400;
}

.icons-blurbs {
    border-bottom: 1px solid lightgray;
}

.listing-body > p {
    margin-top: 1rem;
    line-height: 1.5rem;
}

.cancel-btn {
    color: black;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    border: none;
    text-decoration: underline;
    color: black;
}