.user-profile-container {
  height: 400px;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 0 auto;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.user-info {
    text-align: right;
    padding:20px;
    padding-top: 0;
    h1 {
        grid-column: 1 / 3;
        grid-row: 1;
        font-size: 30px;

    }

    h2 {
        font-size: 20px;
        padding-left: 0;
        padding: 8px;
    }
}


.cushion {
    width: 100%;
    height:6rem;
}

.today-banner {
    height: 150px;
    width: 100%;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 3rem;
    padding-top: 1rem;
}

.user-info{
        font-size: 2rem;
        padding-left: 10px;
        padding-top: 0;
        padding-right: 8rem;

    h1 { font-size: 3rem; }
}


.your-res-container {
    display: none;
    height: 400px;
    background: #9e9ec0;
    border-radius: 20px;
    background-size: cover;
    background-position-y: 37rem;
    max-width: 1250px;
    margin: 40px auto;
}

.your-res-container div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-left: 8rem;
    padding-top: 4rem;
    text-align: left;
    border-radius: 20px;
    width: 1272px;
}

.user-host-guest-container {
    display: flex;
    justify-content: space-evenly;
}

.user-btn {
    width: 100%;
    background-color: #8A2387;
    border-radius: 8px;
    color: #484848;
    color: #DDD;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    border: 1px #DDD solid;
    margin-top: 20px;
    text-decoration: none !important;
    padding-top: 9px;
    cursor: pointer;
}


.listing-date-location h5 {
    font-size: 12px;
    color: lightgrey;
    padding-bottom: 5px;
}

.user-host-guest-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.user-listing-container  > img {
    width: 100%;
    object-fit: cover;
    height: 50%;
    border-radius: 19px 19px 0 0;
}

.user-listings, .user-trips {
    height: 150px;
    width: 600px;
    height: fit-content;
    border-radius: 20px;
}

.user-listing-container {
    width: 450px;
    border-radius: 19px;
    height: 400px;
    box-shadow: 1px -4px 49px -22px;
    color: gray;
}


.user-listings h3, .user-trips h3 {
    text-decoration: none;
    text-align: center;
    color: black;
}

.listing-descrp-pic {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2rem;
}
.listing-descrp-pic img {
    border-radius: 10px;
}

.listing-descrp-pic h5 {
    color: black;
    font-size: 12px;
    width: fit-content;
}

.thumbnail-trip {
    width: 4rem;
}

.listing-date-location {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
    margin-left: 48px;
    margin-bottom: 12px;
    margin-top: 12px;
}

h3.listing-address-profile {
    padding: 5px 0 0 0px;
}

.user-listings {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
    width: 91rem;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.user-listings a {
    margin: 1rem;
}

.thumbnail-trip {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right:10px;
}
.listings-create {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2rem;
    border-bottom: 1px solid lightgray;
}

.mg-btm-4 {
    margin-bottom: 4rem;
}

h5.booking-total {
    font-weight: 600;
    padding-right: 7px;
    text-decoration: underline;
}
