#footer {
    background-color: rgb(227, 227, 227);
    height: 400px;
    width: 100%;
}

.footer-container {
    background-color: rgb(227, 227, 227);
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    li {
      padding: 20px;
      color: black;
    }

    li.top-col {
        font-weight: 600;
    }
}

.footer-ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer-container a {
    color: black;
}

.footer-container li:hover {
    text-decoration: underline;
}

.top-col:hover {
    text-decoration: none !important;
}
