
.grid-thumbs {
    display: flex;
    box-sizing: border-box;
    // border: 1px red solid;
    // background-color: yellow;
    width: 284px; 
    height: 72px;
    margin: 5%;

    div {
        height:72px;
        width: 72px;
        // background-color: blue;
        background-image: url("https://a0.muscache.com/im/pictures/36f53e61-db8d-403c-9122-5b761c0e4264.jpg?im_w=320");
        background-position: center;
        background-size: cover;
        border-radius: 12px;
    }
    span {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 18px;
        h3 {
            padding-bottom: 5px;
            font-weight: 600;
        }
    
        h4 {
    
        }
    }
}

h2 {
    font-weight: 600;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
}
// .grid-container {
//     margin-left: 2%;
//     /* width: 100%; */
//     /* gap: 8px; */
//     /* height: 300px; */
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
// }

.grid-container {
    margin-left: 2%;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    justify-content: center;
    height: 150px;
    align-items: center;
}
// .large-thumbs-container {
//     display: flex;
//     width: 100%;
//     justify-content: space-around;
//     min-width: 1250px;
//     max-width: 1350px;
//     margin: 0 auto;
// }

.large-thumbs-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* min-width: 1650px; */
    /* max-width: 1650px; */
    /* overflow-x: scroll; */
    margin: 0 auto;
    flex-wrap: wrap;
}

.large-thumbs {
    // border: 1px blue solid;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    // background-color: greenyellow;
    margin-left: 2%;
    margin-right: 2%;
    // background-image: url("https://a0.muscache.com/im/pictures/36f53e61-db8d-403c-9122-5b761c0e4264.jpg?im_w=320");
    background-position: center;
    background-size: cover;
    box-shadow: 11px 9px 22px -8px rgba(0,0,0,0.85);
}

// div>h3 {
//     padding-top: 15px;
//     padding-left: 15px;
//     font-weight: 500;
// }

.lower-third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px green solid;
    margin: 50px auto;
    width: 80%;
    height: 300px;
    // background-color: fuchsia;
    // background-image: url("https://a0.muscache.com/im/pictures/36f53e61-db8d-403c-9122-5b761c0e4264.jpg?im_w=320");
    // background-repeat: repeat-x;
    background-size: cover;
    background-position-y: -200px ;
    // background-position-x: 200px;
    border-radius: 20px;
    min-width: 964px;
    margin: 4rem auto;
    color: white;

    span h3 {
        padding-top: 3%;
        font-size: 27px;
        font-weight: 500;
        // color:antiquewhite;
        box-sizing: 11px 9px 22px -8px rgba(0,0,0,0.85);
    }
    span {
        padding-left: 4%;
        padding-top: 10px;
        padding-bottom: 10px;
        // margin-bottom: 50px;
    }

    button {
        background: white;
        border: none;
        width: 120px;
        height: 37px;
        border-radius: 9px;
        font-size: 15px;
    }
}

.large-thumbs-container div h3 {
    padding: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 1500px) {
.large-thumbs-container div {
    width: 200px;
    height: 200px;
}

.large-thumbs-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    min-width: 1250px;
    max-width: 1250px;
    /* overflow-x: scroll; */
    margin: 0 auto;
    flex-wrap: wrap;
    /* height: 34rem; */
}
}

