#splash1 {
    height: 500px;
    // background-image: url(https://artnewengland.com/images/2015/02/Winter-dusk-For-use-by-The-Glass-House-photo-by-Robin-Hill-c-HI-RES.jpg);
    // background-image: {modernSunsetPic};
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    max-width: 1760px;
    min-width: 817px;
}

#splash2 {
  display: grid;
  grid-column-start: 1;
  width: 100%;
    // background-image: url("https://wallpapershome.com/images/pages/pic_h/4407.jpg");
  // background-size: cover;
  // background-position: center;
  margin: 0 auto;
}

#splash3 {
  // width: 80%;
  // height: 500px;
  // background-image: url("https://wallpapershome.com/images/pages/pic_h/18504.jpg");
  // background-size: cover;
  // background-position: center;
  // margin: 0 auto;
}

div.flexible-banner {
  position: relative;
//   display: flex;
// flex-direction: column ;
}

.flexible-btn {
    background: white;
    width: 25%;
    border-radius: 30px;
    border: 1px solid #dcd9d9;
    cursor: pointer;
        margin-left: 18%;
    height: 3rem;
    font-size: 20px;
    color: #9d529d;
}

.flexible-banner {
    font-weight: 600;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    padding-top: 13rem;
    padding-left: 32%;
    display: flex;
    flex-direction: column;
    color: black;

 
}

