#splash1 {
    height: 500px;
    background-image: url("https://erabnb-seed-data.s3.amazonaws.com/Era-theme-photos/50_4-233642-2000x1332-red-checked-kitchen.jpeg");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    max-width: 1760px;
    min-width: 817px;
}

#splash2 {
  display: grid;
  grid-column-start: 1;
  width: 100%;
  margin: 0 auto;
}



div.flexible-banner {
  position: relative;
}

.flexible-btn {
    background: white;
    width: 25%;
    border-radius: 30px;
    border: 1px solid #dcd9d9;
    cursor: pointer;
    margin-left: 30%;
    height: 3rem;
    font-size: 20px;
    color: #9d529d;
}

.flexible-banner {
    font-weight: 600;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    padding-top: 13rem;
    padding-left: 32%;
    flex-direction: column;
    color: whitesmoke;
}


.banner-container {
    position: relative;
    top: 0rem;
    right: 2rem;

  h2 {
    font-weight: 600;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: black;
  }
}
