@import './utilities/variables';

.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // margin: 0 auto;
    border: 1px $navbar-color solid;
    padding: 20px 40px 0px 40px;
    // width: 85%;
    max-width: 56.25rem;
}