@import './utilities/variables';

.header-container {
    background-color:rgba(256, 256, 256, .90);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // margin: 0 auto;
    // border: 1px $navbar-color solid;
    padding: 20px 40px 0px 40px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    // border-bottom: 1px $navbar-profile-color solid;
    padding-bottom: 14px;



    // position: fixed;
    // z-index: 1;
}