@media only screen and (max-width: 1200px) {

    #mapContainer {
        display: none;
    }

}

@media only screen and (max-width: 900px) {

    #mapContainer {
        width: 400px
    }

}

#map-photo{
        width: 65%;
}