// @media only screen and (max-width: 1200px) {

//     #mapContainer {
//         display: none;
//     }

// }

@media only screen and (max-width: 900px) {

    #mapContainer {
        width: 400px
    }

}

#map-photo{
        width: 65%;
}

#mapContainer-booking {
    width: 1200px;
    height: 1200px;
    margin-left: 2%; 

}

#booking-map-container {
    position: relative;
    top: -69px;
}

.listing-map-flex #mapContainer {
    position: sticky;
    top: 10px;
    /* right: 74px; */
    width: 600px;
    height: 100vh;
}

.listing-map-flex {
    min-width: 1517px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 600px;
    margin: 0;
}


// .listing-map-flex {
//     min-width: 1517px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     width: 600px;
//     margin: 0;
//     // padding-top: 6rem;
    
//     #mapContainer {
//         position: fixed;
//         right: 0;
//         width: 600px;
//         height: 800px;
//         // margin-top: 50px;
//     }

    
// }


.mapboxgl-popup-content {
    border-radius: 13px !important;

}

.mapboxgl-popup-content div {
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    color: black;
}

.mapboxgl-popup-content a {
    color: none;
    border:none;
}

img#map-photo {
    width: -webkit-fill-available;
    border: 1px solid lightgrey;
}