@import './utilities/variables';
@import './base/typography';

.menu-container {

}

.menu {
    //  box-sizing: border-box;
    font-family: $monserrat;
    font-size: .875rem;
    text-align: center;
    width: 77px;
    height: 42px;
    background-color: $navbar-color;
    border-radius: 21px;
    border: 1px $navbar-profile-color solid;
    line-height: 20px;
    display: inline-block;
}

.menu-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 200px;
    height: fit-content;
    cursor: pointer;
    border: 1px red solid;
    z-index: 1;
    position: relative;
    right: 121px;
    top: 24px;
}

.click-bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; 
    
}