@import './utilities/variables';
@import './base/typography';


// .menu-container {

// }

.hamburger-btn {
    // padding: 5px;
}

.profile-icon {
    
}

.menu {
    font-family: "Montserrat", sans-serif;
    font-size: .875rem;
    text-align: center;
    width: 77px;
    height: 42px;
    background-color: #fff;
    border-radius: 21px;
    border: 1px #DDD solid;
    line-height: 20px;
    display: inline-block;
    padding: 5px 5px 5px 12px;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 0;
    transition-property: box-shadow;
    transition-duration: .25s;
}

.menu:hover {
  box-shadow: -1px 3px 3px rgba(0, 0, 0, .20);
}

.menu:active {
  box-shadow: -1px 3px 3px rgba(0, 0, 0, .20);
}

.menu-content {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 200px;
    height: fit-content;
    cursor: pointer;
    border: 1px #DDD solid;
    border-radius: 8px;
    z-index: 1;
    position: relative;
    right: 131px;
    top: 10px;
    list-style-type: none;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, .13);
}

.menu-content li {
    padding: 10px;
    margin-left: 8px;
    color: $navbar-profile-color;
}

.click-bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; 
    
}