

//before scroll
.search-btn-start  {
    position: absolute;
    left: 18rem;
    top: 6.15rem;
    height: 77%;
    border-radius: 34px;
    border: 1px solid #dcd9d9;
    cursor: pointer;
    padding: 0 25%;
    background-color: white;
    font-size: 1.5rem;
    color: #9d549f;
}

.search-btn{
    background: white;
    width: 25%;
    border-radius: 30px;
    border: 1px solid #dcd9d9;
    cursor: pointer;
}

.menu-container {
  display: flex;
  justify-content: space-around;
}

.hamburger-btn {
        width: 25px;
}

.profile-icon {
    width:31px;  
}

.menu {
    font-family: "Montserrat", sans-serif;
    font-size: .875rem;
    text-align: center;
    width: 77px;
    height: 42px;
    background-color: #fff;
    border-radius: 21px;
    border: 1px #DDD solid;
    line-height: 20px;
    display: inline-block;
    padding: 5px 5px 5px 12px;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 0;
    transition-property: box-shadow;
    transition-duration: .25s;
    margin-right: 60px;
    cursor: pointer;
}

.menu:hover {
  box-shadow: -1px 3px 3px rgba(0, 0, 0, .20);
}

.menu:active {
  box-shadow: -1px 3px 3px rgba(0, 0, 0, .20);
}

.menu-content {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 200px;
    height: fit-content;
    cursor: pointer;
    border: 1px #DDD solid;
    border-radius: 8px;
    z-index: 1;
    position: relative;
    right: 131px;
    top: 10px;
    list-style-type: none;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, .13);
    transition-property: background-color;


    :hover {
            background-color: rgb(245, 243, 243);
            transition-duration: .10s;
    }

    li {
    padding: 10px;
    /* margin-left: 8px; */
    color: $navbar-profile-color;
    width: 198px;
    /* padding: 10px; */
    box-sizing: border-box;
    border-radius: inherit;
    text-align: left;
    }


    a > li {
    padding: 10px;
    /* margin-left: 8px; */
    color: $navbar-profile-color;
    width: 198px;
    /* padding: 10px; */
    box-sizing: border-box;
    border-radius: inherit;
    text-align: left;
    }


    
}


.profile-link:hover {
           background-color: rgb(245, 243, 243);
            transition-duration: .10s;
}


.click-bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; 
    
}