@import '../utilities/variables';

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.40);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-form-box, .login-form-box {
    width: 400px;
    height: fit-content;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 12px 12px 8px rgba(0,0,0,.09);
    padding-left: 20px;

}

.signup-form-box h2, .login-form-box h2{
  font-size: 1.125rem;
  text-align: center;
}

.signup-form-box p, .login-form-box p{
  font-size: .75rem;
  text-align: center;
}


.signup-form div, .login-form div{
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 90%
}

.signup-form input {
  // margin: 26px 12px
}

.session-submit {
  width: 100%;
  background-color:  #e01760;
  border-radius: 8px;
  color: $navbar-profile-color;
  color: #DDD;
  height: 43px;
  font-size: 20px;
  font-weight: 600;
  border: 1px #DDD solid;
  margin-top: 20px;
}

input[value="Demo User"] {
  width: 100%;
  background-color:  #e01760;
  border-radius: 8px;
  color: $navbar-profile-color;
  color: #DDD;
  height: 43px;
  font-size: 20px;
  font-weight: 600;
  border: 1px #DDD solid;
}

.error-container{
  // width: 400px;
  // height: fit-content;
  // border-radius: 20px;
  // background-color: white;
  // box-shadow: 12px 12px 8px rgba(0,0,0,.09);

}

.login-form-container .form-errors li {
  font-size: .75rem;
  color:rgb(191, 15, 15);
  padding: 2%;
}

.signup-form-container .form-errors li {
  font-size: .75rem;
  color:rgb(191, 15, 15);
  padding: 2px;
}

.signup-form-box .error-container .form-errors {
  padding: 0;
}

.login-input, .signup-input {
  width: 98%;
  height: 2rem;
  border-color: #eeeeee;
  border-style: solid;
  background: white;
  font-family: inherit;
  border: none;
}

.login-form-box, .signup-form-box {
    width: 28rem;
    height: 25rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 12px 12px 8px rgba(0,0,0,.09);
    box-sizing: border-box;
}

.signup-form-box {
    width: 28rem;
    height: 37rem;
}

.login-email {
    border: 2px solid lightgray;
    border-radius: 15px 15px 0 0;
}

.login-password {
    border: 2px solid lightgray;
    border-top: none;
    border-radius: 0 0 15px 15px;
    height: 4rem;
}

.login-email label, .login-password label {
    font-size: 12px;
    color: gray;
    padding-left: 5px;

}

.login-password input[type="password"]
{
    background-color: white !important;
    border:white;
}

.login-email input[type="email"]
{
    background-color: white !important;
    border:white;
}


.login-email input[type="email"]:focus {
    background-color: white !important;  
    border:white;
}

.login-password input[type="password"]:focus {
    background-color: white !important;  
    border:white;
}

// .login-email:hover {
//     border: 2px solid black;
// }

// .login-password:hover {
//     border: 2px solid black;
// }

.signup-form-bio {
    border: 2px solid lightgray;
    border-radius: 0 0 15px 15px;
    padding-bottom: 7px; 
}

.signup-form-dob, .signup-last-name, .signup-first-name, .signup-password {
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-top: 2px solid lightgray;
}

// .signup-email  {
//     border-left: 2px solid lightgray;
//     border-right: 2px solid lightgray;
//     border-top: 2px solid lightgray;
//     border-radius: 15px 15px 0 0;
// }

.signup-email {
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-radius: 15px 15px 0 0;
    padding-top: 7px;
}

form.signup-form-box label {
    font-size: 12px;
    color: gray;
    padding-left: 3px;
}



form.signup-form-box input[type="email"] {
  font-size: 14px;
  color: black;
  background-color: white;
}

.signup-form-box .form-errors div {
    display: flex;
    padding-top: 3px;
    justify-content: flex-start;
    align-items: center;
}

.login-form-box .form-errors div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

ul.login-form-errors-ul {
    color: #f30000;
    display: flex;
    flex-direction: row;
    padding: 8px 0 0 9px;
    font-size: 12px;
}

.login-form-errors-ul .login-form-errors {
  display: flex;
}