.search-container {
    width: 700px;
    border: 1px solid #c8c8c8;
    border-radius: 35px;
    height: 58px;
    display: flex;
    min-width: 800px;
}

.search-container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
}
.search-container form div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 10px;
}

.location-search, .check-in-search, .check-out-search {
    display: flex;
    flex-direction: column;
    border: none;
    font-size: .65rem;
    font-weight: 600;
    font-family: 'Montserrat';
}

.search-container form input {
    border: none;
    font-family: 'Montserrat';
}

.location-search h4,
.check-in-search h4,
.check-out-search h4
{
    padding: 0 2px;
}

.location-search ,
.check-in-search ,
.check-out-search  {
    height: 50%;
}

.search-btn {
    background: white;
    width: 49px;
    height: 80%;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e9284c;
    border: none;
}

.search-btn:hover{
    box-shadow: 1px 2px 6px;
    transition: all .3s;
}

.search-btn-cont svg {
    font-size: 25px;
    padding-left: 3px;
    padding-top: 4px;
    color: white;
}

.location-search:hover {
    // box-shadow: 6px -1px 21px -12px;
    background-color: rgb(210, 209, 209);
    border-radius: 46px;
    border-radius: 46px;
    height: 100%;
    margin-top:0;
    transition: all 0.5s;
}

.location-search:hover > input {
    background-color: rgb(210, 209, 209);
    color: black;
    transition: all 0.5s;
 }

 .location-serach::placeholder {
     color: red;
 }

.search-container form .check-in-search:hover,
.search-container form .check-out-search:hover {
    // box-shadow: 6px -1px 21px -12px;
    background-color: rgb(210, 209, 209);
    border-radius: 46px;
    transition: all 0.5s;
}

.search-container form .check-in-search:hover > input,
.search-container form .check-out-search:hover > input {
    background-color: rgb(210, 209, 209);
    color: white;
    transition: all 0.5s;

}

.no-results {
    height: 1200px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.no-results-btn {
    font-size: 18px !important;
    color: black;
}

.era-search {
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 500;
    height: 1rem;
    border-radius: 5px;
    color: black;
    border: none;
    text-align: center;
    width: 100px;
}

.era-search select {
    background-color: #e9284c !important;
    border: none;
    color: white;
    border-radius: 5px;
}

.era-label-search{
    margin-bottom: 3px;
}

.era-search:hover > input {
    background-color: rgb(210, 209, 209);
    color: black;
    transition: all 0.5s;
 }


 .era-search:hover {
    // box-shadow: 6px -1px 21px -12px;
    background-color: rgb(210, 209, 209);
    border-radius: 46px;
    border-radius: 46px;
    height: 100%;
    margin-top:0;
    transition: all 0.5s;
}

.divider {
    width: 1px;
    height: 33px !important;
    border-right: 1px solid lightgray;
}
